* {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
.header {
  background-color: #415e9b;
  height: 82px;
  border-bottom: 1px solid #133783;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
  font-weight: bolder;
  font-size: 40px;
}
.facebook-login {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.facebook-login > div {
  margin-left: 10px;
  font-size: 12px;
}
.login-button {
  margin-top: 13px;
  color: white;
  background-color: #2d55aa;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid #152b5a;
  cursor: pointer;
}
.content-body {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, white, rgb(210, 210, 248));
  height: 70vh;
  margin-top: 8vh;
}
.font-language {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.63);
}
.left-body {
  width: 40%;
  margin-left: 14vw;
}
.right-body {
  width: 43%;
}
button {
  background-color: rgb(75, 212, 75);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
  margin-bottom: 20px;
  font-weight: bolder;
}
